MAILGUN_DOMAIN=your_mailgun_domain
MAILGUN_API_KEY=your_mailgun_api_key
MAILGUN_FROM_EMAIL=your_mailgun_from_email
MAILGUN_FROM_NAME=your_mailgun_from_name

HTTP_USERNAME=your_http_username
HTTP_PASSWORD=your_http_password

SPACE_NAME=your_space_name
AUTH_TOKEN=your_auth_token
PROJECT_ID=your_project_id
SIGNALWIRE_FROM_NUMBER=your_signalwire_from_number

SLACK_BOT_TOKEN=your_slack_bot_token
SLACK_APP_TOKEN=your_slack_app_token
SLACK_CHANNEL_ID=your_slack_channel_id
PORT=5000
DEBUG=True